* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.wrapper {
    display: flex;
    width: 100%;
}

.pink-margin {
    width: 2in;
    background-color: #FFB6C1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center the buttons horizontally */
    justify-content: center;  /* Center the buttons vertically */
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.button-56 {
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    width: 80%;
    transition: all 0.3s ease;
}

.button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 0.2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.content {
    flex-grow: 1;
    background-color: white;
    display: flex;
    justify-content: center; /* Center the content */
    align-items: center;
    height: 100vh;
    padding-left: 3in;
    overflow: hidden;
    transition: all 0.3s ease;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.name {
    font-size: 3em;
    font-weight: bold;
}

.pacifico-regular {
    font-family: 'Pacifico', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    color: #333;
}

.portfolio {
    font-size: 1.5em;
    font-weight: lighter;
}

.gif {
    width: 500px;
    height: auto;
    margin-left: 100px;
}

.section {
    display: none;
    padding: 20px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;
    font-size: 1.5em;
}

.show-section {
    display: flex;
    opacity: 1;
    display: block;
}

.hide-section {
    opacity: 0;
    
    display: none;
    pointer-events: none; /* Disable interaction when hidden */
}

.hide-header {
    opacity: 0;
    transition: opacity 1s ease-in-out;
} 
